<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
    Hi, welcome to the <b>LinkDEV Workshop!</b>
    <br>
    <br>
    Thank you for registering in our chat app.<br>
    Here you can find your verification code<br>
    <br>
    {{ verificationCode }}
</body>

</html>